html {
  font-size: 14px;
  line-height: 1.4;
}

.container {
  perspective: 3000px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: #B2EBF2;
  box-shadow: 7px 7px 0px 0px #80DEEA;
}

.container-decrypt {
  background: #B3E5FC;
  box-shadow: 7px 7px 0px 0px #81D4FA;
}

.container-decrypt .toggle-btn {
  background: #B3E5FC;
  color: #0277BD;
}

.container-decrypt .toggle-btn:hover {
  color: #29B6F6;
}

.container-decrypt .title-text {
  color: #29B6F6;
}

.container-decrypt .input:focus {
  box-shadow: 7px 7px 0px 0px #81D4FA;
  border-top: 3px solid #81D4FA;
  border-left: 3px solid #81D4FA;
}

.container-decrypt .btn {
  background: #81D4FA;
  color: #0277BD;
}

.container-decrypt .btn:hover {
  background: #50c3f8;
  color: #B3E5FC;
  box-shadow: 7px 7px 0px 0px #81D4FA;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  transition: all .3s ease-out;
}

textarea:disabled {
  background: #E0E0E0;
}

input,
button,
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  resize: none;
  font-size: 14px;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.encrypt,
.decrypt {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  padding: 10% 10%;
  backface-visibility: hidden;
}

.encrypt:hover .title-text,
.decrypt:hover .title-text {
  opacity: 1;
}

.decrypt {
  transform: scale(-1, 1);
}

.rotate.rotated {
  transform: rotateY(180deg);
}

.toggle-btn {
  position: absolute;
  background: #B2EBF2;
  top: 2px;
  right: 0;
  padding: 15px;
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  color: #00695C;
}

.toggle-btn:hover {
  top: 5px;
  color: #26A69A;
}

.input {
  padding: 10px;
  height: 100px;
  background: #F5F5F5;
  border: 1px solid transparent;
}

.input.error:focus {
  box-shadow: 7px 7px 0px 0px #e57373;
  border-top: 3px solid #e57373;
  border-left: 3px solid #e57373;
}

.input:focus {
  box-shadow: 7px 7px 0px 0px #80DEEA;
  border-top: 3px solid #80DEEA;
  border-left: 3px solid #80DEEA;
}

.initial-text,
.encrypted-text {
  margin-bottom: 15px;
}

.buttons {
  margin: 15px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.btn {
  background: #4DB6AC;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 50%;
  color: #00695C;
  opacity: 1;
}

.btn:hover {
  background: #3c948b;
  color: #B2DFDB;
  box-shadow: 7px 7px 0px 0px #80CBC4;
}

.btn:active {
  transform: scale(1.03);
}

.title-text {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 42px;
  text-transform: uppercase;
  color: #4db6ac;
  opacity: 0.4;
  font-weight: 300;
}

.reset-btn,
.reset-dec-btn {
  margin-left: auto;
  margin-top: 15px;
}

.key,
.dec-key {
  height: auto;
}

.hidden {
  display: none;
}

.nonvisible {
  opacity: 0;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 500;
  background: #ef9a9a;
  color: #c62828;
  opacity: 1;
  transition: opacity .3 ease;
  animation: erroramin .5s ease;
}

.error.hidden {
  animation: erroramin .5s ease;
  opacity: 0;
}

@keyframes erroramin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 700px) {
  html,
  input,
  button,
  textarea {
    font-size: 12px;
  }

  .container {
    width: 100%;
    margin-right: 7px;
  }

  .title-text {
    font-size: 32px;
    top: 3%;
  }

  .encrypt,
  .decrypt {
    padding: 15% 8% 8%;
  }
}

@media (max-width: 400px) {
  .title-text {
    font-size: 28px;
    top: 2%;
  }

  .btn {
    width: 100%;
  }
}